<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Sign up</h2>
		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= link_to "Register with Facebook", user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' %>
	  <div class="form-group">
	  	<%= f.input :fullname, required: true, autofocus: true, class: 'form-control', placeholder: 'Full Name', label: false %>
	    <%= f.input :email, required: true, class: 'form-control', placeholder: 'Email Address', label: false %>
	    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: 'form-control', placeholder: 'Password Here', label: false %>
	    <%= f.input :password_confirmation, required: true, class: 'form-control', placeholder: 'Retype Password', label: false %>
	  </div>

	  <div class="form-actions form-group">
	    <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
	  </div>
	<% end %>
	</div>
</div>


