<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Log in</h2>

    <%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' %>  

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render partial: 'layouts/devisemessage' %>
      <div class="form-group">
        <%= f.input :email, required: false, autofocus: true, class: 'form-control', placeholder: 'Email Address', label: false %>
        <%= f.input :password, required: false, class: 'form-control', label: false, placeholder: 'Password' %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions form-group">
        <%= f.button :submit, "Log in", class: 'btn btn-primary' %>
      </div>
      <div class="form-group">
      	<%= link_to "Forgot Password", new_user_password_path %>
      </div>
    <% end %>

	</div>
</div>



